@import "../../style/variable.module.scss";

.container {
  margin: 5%;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.4em;
  line-height: 160%;
  @include fixColor;

  input {
    border: 3px solid rgb(80, 188, 177);
    border-radius: 3px;
    font-size: 15px;
    outline: none;
    padding: 10px 0px 10px 10px;
    transition: all 0.3s ease;
    width: 10vw;
  }
}

.container__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}

.table_input--error {
  border: 2px solid red;
  height: 4vh;
}

.disabled {
  border: 1px solid #999999;
}
